input {
  box-shadow: 0px 5px 5px rgba(229, 54, 54, 0.5);
  border-radius: 15px;
  border: none;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.25);
}
.character {
  margin-left: 40px;
}
.btn {
  margin-top: 25px;
  box-shadow: 0px 5px 5px rgba(229, 54, 54, 0.5);
  border-radius: 15px;
  border: none;
  width: 30%;
  background-color: rgba(78, 40, 40, 0.25);
  font-size: 14px;
}
form {
  text-align: center;
  margin-bottom: 40px;
}
